node_modules/
.DS_Store
dist/
!/internal/heapsnapshot/dist/
bundle/
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/custom-plugins
tsconfig.tsbuildinfo
sea-prep.blob
hive-gateway
.cache/
*.pem
/examples/**/*/supergraph.graphql
.helix/config.toml
.helix/languages.toml
/e2e/**/*/memtest-memory-usage_*.svg
/e2e/**/*/*.heapsnapshot
/e2e/**/*/*.heapprofile
/e2e/**/*/*.out
/internal/**/*/*.out
