node_modules/
.DS_Store
.env
dist/
# see internal/heapsnapshot/README.md for why we're committing the dist folder
!/internal/heapsnapshot/dist/
bundle/
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/custom-plugins
tsconfig.tsbuildinfo
sea-prep.blob
hive-gateway
.cache/
*.pem
/examples/**/*/supergraph.graphql
.helix/config.toml
.helix/languages.toml
memtest-*.svg
*.heapsnapshot
*.heapprofile
*.out

# hidden during isolation testing (see internal/testing/src/isolate.ts)
HIDDEN_node_modules/
