name: Bench
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  NODE_NO_WARNINGS: 1

jobs:
  bench:
    strategy:
      matrix:
        e2e_runner: [node, bun]
    name: ${{matrix.e2e_runner}}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
      - name: Set up env
        uses: the-guild-org/shared-config/setup@v1
        with:
          node-version-file: .node-version
      - name: Bench
        run: ${{matrix.e2e_runner == 'bun' && './node_modules/.bin/bun' || 'yarn'}} bench
        env:
          E2E_GATEWAY_RUNNER: ${{matrix.e2e_runner}}
