name: Bench
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  NODE_NO_WARNINGS: 1

jobs:
  bench:
    strategy:
      matrix:
        e2e_runner: [node, bun]
        products_size:
          - 10
          - 100
          - 1000
    name: ${{matrix.e2e_runner}} / ${{matrix.products_size}} items
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up env
        uses: the-guild-org/shared-config/setup@v1
        with:
          node-version-file: .node-version
      - name: Bench
        run: ${{matrix.e2e_runner == 'bun' && 'yarn bun' || 'yarn'}} bench
        env:
          PRODUCTS_SIZE: ${{matrix.products_size}}
          E2E_GATEWAY_RUNNER: ${{matrix.e2e_runner}}
