name: Examples

on:
  workflow_call:
    inputs:
      publishedPackages:
        type: string
        description: >
          A JSON array to present the published packages. The format is `[{"name": "@xx/xx", "version": "1.2.0"}, {"name": "@xx/xy", "version": "0.8.9"}]`
    secrets:
      token:
        required: true
        description: The GitHub token for commiting and opening PRs

concurrency:
  group: examples-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  head-commit:
    name: Inspect head commit
    runs-on: ubuntu-latest
    outputs:
      message: ${{ steps.commit.outputs.message }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
        with:
          ref: ${{github.event.pull_request.head.sha || github.sha}}
      - name: Inspect
        id: commit
        run: echo "message=$(git show -s --format=%s)" >> "$GITHUB_OUTPUT"

  convert:
    needs: [head-commit]
    if: "${{needs.head-commit.outputs.message != 'docs(examples): converted from e2es'}}"
    strategy:
      matrix:
        e2e:
          - extra-fields
          - federation-example
          - federation-mixed
          - file-upload
          - apq-subgraphs
          - federation-subscriptions-passthrough
          - hmac-auth-https
          - interface-additional-resolvers
          - json-schema-subscriptions
          - openapi-additional-resolvers
          - openapi-arg-rename
          - openapi-javascript-wiki
          - openapi-subscriptions
          - programmatic-batching
          - subscriptions-with-transforms
          - type-merging-batching
          - operation-field-permissions
          - launchdarkly-override
          - websocket-programmatic-usage
          # TODO: support containers before enabling (we use nats image in e2e)
          # - event-driven-federated-subscriptions
    name: Convert ${{matrix.e2e}}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
      - name: Set up env
        uses: the-guild-org/shared-config/setup@v1
        with:
          node-version-file: .node-version
      - name: Convert
        run: yarn workspace @internal/examples run start --e2e=${{matrix.e2e}} --clean=true --publishedPackages='${{inputs.publishedPackages}}'
      - name: Upload
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v4
        with:
          name: example-${{matrix.e2e}}
          # include all files and folders starting with a dot (.)
          include-hidden-files: true
          # > If multiple paths are provided as input, the least common ancestor of all the search paths will be used as the root directory of the artifact.
          # https://github.com/actions/upload-artifact#upload-using-multiple-paths-and-exclusions
          #
          # Because of this, we include the root README.md to maintain the paths during artifact downloads
          path: |
            README.md
            examples/${{matrix.e2e}}
            !examples/${{matrix.e2e}}/node_modules

  commit:
    needs: [convert]
    name: Commit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
        with:
          token: ${{secrets.token}}
      - name: Download
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v4
        with:
          pattern: example-*
          merge-multiple: true
      - name: Diff
        run: git diff --pretty
      - name: Commit
        if: github.ref != 'refs/heads/main'
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          file_pattern: examples/
          commit_message: 'docs(examples): converted from e2es'
          commit_user_name: theguild-bot
          commit_user_email: bot@the-guild.dev
          commit_author: theguild-bot <bot@the-guild.dev> # dont use the actor as an author
      - name: PR
        if: github.ref == 'refs/heads/main'
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v7
        with:
          token: ${{secrets.token}}
          add-paths: examples/
          base: ${{github.head_ref || github.ref_name}}
          branch: examples/update
          commit-message: 'docs(examples): converted from e2es'
          title: Update Examples
          body: The examples converted from E2E tests have changed in ${{github.event.pull_request.head.sha || github.sha}}.
          committer: theguild-bot <bot@the-guild.dev>
          author: theguild-bot <bot@the-guild.dev> # dont use the actor as an author
